<template>

  <!-- Main area -->
  <div class="text-left mt-5 ml-xl-5">

    <!-- Data Displaying area -->
    <h1 class="border-bottom border-dark"><strong><code>{{getCurrentHouseDetail.name}}</code></strong></h1>

    <!-- Button to go back to the list -->
    <b-button
        block
        variant="info"
        class="text-center w-25 float-right mr-5"
        @click="$router.go(-1)"
    >
      Back To List
    </b-button>

    <h3><code>Founder: </code>{{sFounder}}</h3>
    <h3><code>Founded: </code>{{getCurrentHouseDetail.founded}}</h3>
    <h3><code>Region: </code>{{getCurrentHouseDetail.region}}</h3>
    <h3><code>Coat Of Arms: </code>{{getCurrentHouseDetail.coatOfArms}}</h3>
    <h3><code>Words: </code>{{getCurrentHouseDetail.words}}</h3>
    <h3><code>Died Out: </code>{{getCurrentHouseDetail.diedOut}}</h3>
    <h3><code>Titles: </code> <span v-for="(elm,index) in getCurrentHouseDetail.titles" :key="index">{{ elm ? elm+", ":" " }}</span></h3>
    <h3><code>Seats: </code><span v-for="(elm,index) in getCurrentHouseDetail.seats" :key="index">{{ elm ? elm+", ":" " }}</span></h3>
    <h3><code>Ancestral Weapons: </code><span v-for="(elm,index) in getCurrentHouseDetail.ancestralWeapons" :key="index">{{ elm ? elm+", ":" " }}</span></h3>
    <h3><code>Current Lord: </code>{{sCurrentLord}}</h3>
    <h3><code>Heir: </code>{{sHeir}}</h3>
    <h3><code>Overlord: </code>{{sOverlord}}</h3>
    <h3><code>Cadet Branches: </code><span v-for="(elm,index) in aCadetBranches" :key="index">{{ elm ? elm+", ":" " }}<br></span></h3>
    <h3><code>Sworn Members: </code><span v-for="(elm,index) in aSwornMembers" :key="index">{{ elm ? elm+", ":" " }}</span></h3>
    <h3><code>URL: </code>{{getCurrentHouseDetail.url}}</h3>

  </div>
</template>

<script>

import axios from "axios";

export default {

name: "HouseDetail",

  data(){

    return{
      currentHouseName:"",
      aSwornMembers:[],
      aCadetBranches:[],
      sCurrentLord:"",
      sOverlord:"",
      sHeir:"",
      sFounder:"",
    }
  },

  computed:{

    /**
     * getting the latest List of houses
     */
    aAllHouses(){

      return this.$store.getters.getHouses;
    },

    /**
     * getting the current house from the List of houses
     */
    getCurrentHouseDetail(){

      return this.aAllHouses.find(elm=> elm.name.replace(/\s+/g, '')===this.currentHouseName)
    },
  },

  methods:{

    async gettingNameFromUrl(sUrl,sFlag) {
       const response = await axios.get(sUrl)
      if(sFlag==="aSwornMembers"){
        this.aSwornMembers.push(response.data?response.data.name:"");
      }else if(sFlag==="aCadetBranches"){
        this.aCadetBranches.push(response.data?response.data.name:"");
      }else if(sFlag==="sCurrentLord"){
        this.sCurrentLord=response.data ? response.data.name:"";
      }else if(sFlag==="sOverlord"){
        this.sOverlord=response.data ? response.data.name:"";
      }else if(sFlag==="sHeir"){
        this.sHeir=response.data ? response.data.name:"";
      }else if(sFlag==="sFounder"){
        this.sFounder=response.data ? response.data.name:"";
      }
    },

    transformingUrlArrayToString(aUrl,sFlag){

      aUrl.forEach(sUrl=>this.gettingNameFromUrl(sUrl,sFlag))
    }
  },

  created() {

    /**
     * global initialization of selected house
     */
    this.currentHouseName=this.$route.params.house
    this.transformingUrlArrayToString(this.getCurrentHouseDetail.swornMembers,"aSwornMembers");
    this.transformingUrlArrayToString(this.getCurrentHouseDetail.cadetBranches,"cadetBranches");
    this.transformingUrlArrayToString([this.getCurrentHouseDetail.currentLord],"sCurrentLord");
    this.transformingUrlArrayToString([this.getCurrentHouseDetail.overlord],"sOverlord");
    this.transformingUrlArrayToString([this.getCurrentHouseDetail.heir],"sHeir");
    this.transformingUrlArrayToString([this.getCurrentHouseDetail.founder],"sFounder");
  }
}
</script>

<style scoped>

</style>