<template>
  <div id="app">
    <b-row class="nav " >
      <h1 class="float-right ml-5 mt-5 w-50 text-left">
        Game of Thrones House(s)
      </h1>
      <b-button
          v-show="bShowReloadBtn()"
          class="float-right reload-btn"
          variant="info"
          @click="refreshingThePage()"
      >
        Reset the page
      </b-button>
    </b-row>
    <router-view/>
  </div>
</template>
<script>

export default {

  methods:{

    bShowReloadBtn(){

      return !(this.$route.name==='HouseDetail');
    },
    /**
     * Unsetting the vuex
     */
    refreshingThePage(){

      this.updatePageCourser(1);
      this.settingHouses([]);
      location.reload();
    },

    /**
     * updating the page courser from the store
     * @iPage {int}
     */
    updatePageCourser(iPage) {
      this.$store.dispatch('setPageCourser', iPage);
    },

    /**
     * updating the House array from the store
     * @aHouses {Array}
     */
    settingHouses(aHouses) {
      this.$store.dispatch('setHouses', aHouses);
    },
  }
}
</script>

<style lang="scss">

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --font: Roboto, sans-serif;
  --textColor: #143a64;
  --linkActiveColor: #41b783;
}

#app {
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--textColor);
  background: azure;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  max-width: 100%;

  a {
    font-weight: 500;
    color: var(--textColor);
    margin: 0 5px;
  }

  a.router-link-exact-active {
    color: var(--linkActiveColor);
  }
}
.reload-btn{
  margin-top: 2vh;
  width: 200px;
  height: 50px;
}
</style>
